*.vscode
*.idea
*.apk
*.aab
.venv
.env
*.sublime-*
.DS_Store
data/*
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
eas.json
pyrightconfig.json
__pycache__/
/ios
/android
sh-key-pair.pem
